
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  
  .logo-icon {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }
  
  .logo-text {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
  }
  
  .nav-link {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
  }

  .nav-element{
    background-color: #0056b3;
    padding: 4px;
    margin: 5px;
    color: white;
    border-radius: 10%;
  }